.sidedraw {
  position: fixed;
  left: -200px;
  padding: 0;
  height: 100%;
  min-width: 10rem;
  background: #74138b;
  transition: 0.3s ease-in-out left;
}

.sidedraw.open {
  left: 0;
  transition: 0.3s ease-in-out left;
}

.sidedraw ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidedraw ul a {
  text-decoration: none;
  color: white;
  padding: 20px 15px;
  width: auto;
  display: block;
  transition: 0.3s linear background;
}

.sidedraw ul a:hover {
  background: #c262d9;
  transition: 0.3s linear background;
}
