.nav {
  text-align: center;
  display: flex;
  justify-content: center;
}

.nav ul {
  display: inherit;
  list-style: none;
  padding: 0;
}

.nav ul li {
  margin: 0 5px;
}

.nav ul li a {
  color: #e67346;
}

.nav ul li a:hover,
.nav ul li a.active {
  color: red;
}
