.header {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #74138b;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 15px;
}

.header h1,
.header h2,
.header h3,
.header h4 {
  padding: 0;
  margin: 0;
}

.header h1 {
  color: white;
}
